.wrapper {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  /*grid-template-columns: 1fr;*/

  /*grid-auto-rows: auto;*/
  min-height: 100vh;
  gap: 35px;
  padding: 0px 43px ;

}

.card {
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 320px;
    gap: 20px;
  }

  .card {
  }
}


