.button {
    all: unset;
    cursor: pointer;
    display: inline-block;
}

.svgWrapper {
    width: 90px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    position: absolute;
    z-index: 0;
    transition: fill 0.2s;
}

.like {
    z-index: 1;
}

.button.active .bg {
    fill: #303030;
    transition: fill 0.2s;

}

.button.active .like {
    stroke: var(--white);
    transition: fill 0.2s;
}